body
{
	background: #81A594;
	font-family: Helvetica, Arial, sans-serif;
}

a
{
	color: F5A529;
}

#loginBox
{
	width: 250px;
	height: auto;
	background: F6F6EC;	
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: auto;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 2px;
	
}

#wrapper
{
	background: F6F6EC;
	width: 924px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}

#footer
{
	color: F6F6EC;
	font-size: 8pt;
	margin-left: auto;
	margin-right: auto;
	width: 924px;
	text-align: center;
}


h1,h2,h3,h4,h5
{
	color: #00628B;
}


