<html>
	<head>
	
	<link rel="stylesheet" type="text/css" href="/media/styles/main.css" />
	
    </head>

    <body>
	
	<div id="wrapper">
		{% block breadcrumbs %}
		{% endblock %}
        {% block content %}
            <h3>Land Surveyor System</h3>
            <p><a href="/order/login/">Login</a></p>
        {% endblock %}
	</div>
	
	<div id="footer">
		<p>Copyright Team Awesome 2011, All Rights Reserved</p>
		<p>This website was developed as a project for
		<a href="http://www.engr.uvic.ca/~seng422/">SENG 422</a> at 
		<a href="http://uvic.ca">The University of Victoria</a></p>
	</div>
    </body>
</html>